<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ulHelper.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ulHelper.App.Properties.Settings>
            <setting name="PlayerPanelRefreshTime" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TargetPanelRefreshTime" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ObjectsPanelRefreshTime" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RadarRefreshTime" serializeAs="String">
                <value>100</value>
            </setting>
        </ulHelper.App.Properties.Settings>
    </applicationSettings>
</configuration>